.main {
    font-family: Helvetica, sans-serif;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
    /* width: 58%; */
}

.column {
    min-height: 100vh;
    width: 100%;
    margin: 0;
}
.column_left, .column_right {
    background-color: #e8e8e8;
}
.column_mid {
    padding: 0 30px;
}

.profile_logo {
    margin: 25px auto;
    width: 100%;
    text-align: center;
}

.column_left_section1, .column_left_section2 {
    margin: 30px auto;
}

.column_left_section2 {
    width: 90%;
}

.column_left_section2 a {
    color: black;
}

.column_left_section2 a:hover{
    background-color: #d6d6d6;
    color: black;
}

.active {
    color: red !important;
}

.profile_pic {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100px;
    margin: 40px auto 20px auto;
    background: url(https://p.kindpng.com/picc/s/24-248528_internet-user-png-person-in-charge-icon-transparent.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.profile_name {
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.profile_email {
    font-size: 0.85rem;
    text-align: center;
    color: #a5a5a5;
}

.welcome_message {
    margin: 25px auto;
}

.say_hello {
    font-weight: bold;
    font-size: 25px;
}

.today_date {
    font-size: 12px;
    color: #a5a5a5;
}

.quick_play, .score_rule {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.quick_play_box {
    display: flex;
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px -10px 4px -1px rgba(46,216,182,0.49);
    -webkit-box-shadow: 0px -10px 4px -1px rgba(46,216,182,0.49);
    -moz-box-shadow: 0px -10px 4px -1px rgba(46,216,182,0.49);
}

.score_rule_box {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #ffb64d;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}

.score_rule_text {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.bg_hand {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEinIwDcsNKSo7VHvxvBRU0WnBt5WyGS8rHAEgsATpmrKGVN6iprlo9XVM_PJMJLsJjKXLTUjd8pYy4IYas12WBAOF2GwpD8z5PpqDxOHxs_Qeu_El9AiF0aDgvX7_zFxI19cfFzZirQgmhfBjofU47t-W8WYsOtf9tK0J_zS5wrqNw6wLb_ywrPykO_/s16000/Mhd%20Arif%20Setiawan%202.png");
    position: relative;
    background-repeat: no-repeat;
    width: auto;
    height: 350px;
    background-size: 100% 100%;
}

.card_box {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.btn_room_list_wrapper {
    margin: 30px auto;
}

.btn_room_list {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}
.btn_create_room {
    display: flex;
    margin: 10px auto;
    justify-content: left;
    align-items: center;
}


.section_3_vs_player_text {
    color: #ffb64d;
    text-transform: capitalize;
    font-style: italic;
}

.pagination_room_list {
    display: flex;
    justify-content: center;
}

.column_right{
    margin-right: 0;
}

.column_right_section_1, .column_right_section_2 {
    margin: 25px auto;
}

.column_right_section_2 {
    margin-top: 50px;
}

.my_score_title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.my_score_box {
    display: flex;
    background-color: #ffb64d;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.leaderboard_title {
    text-align: center;
    font-size: 15.5px;
    font-weight: bold;
}

.leaderboard_box {
    margin: 25px 20px;
}

.leaderboard_column_title {
    font-weight: bold;
    margin-bottom: 1rem;
}