.main {
  /* min-height: 90vh; */
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main img {
  margin-left: 90px;
  max-width: 70%;
  max-height: auto;
  position: fixed top;
}

.main h1 {
  margin-top: 150px;
}

.main li{
  margin-left: 60px;
}

.main button{
  padding: 1rem 3rem;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background:#E8E8E8;
  color: black;
  width: 200px;
}


