.loader {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    align-self: center;
   }
   
   .loader::before {
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 2px solid #8900FF;
    border-right: 2px solid transparent;
    -webkit-animation: spinner8217 0.8s linear infinite;
            animation: spinner8217 0.8s linear infinite;
   }
   
   @-webkit-keyframes spinner8217 {
    to {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
    }
   }
   
   @keyframes spinner8217 {
    to {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
    }
   }