.loadingStyle {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  margin-top: -20px;
  margin-left: -60px;
}
.loadingStyle div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(31, 243, 218, 0.685);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loadingStyle div:nth-child(1) {
  left: 8px;
  animation: loadingStyle1 0.8s infinite;
}
.loadingStyle div:nth-child(2) {
  left: 8px;
  animation: loadingStyle2 0.8s infinite;
}
.loadingStyle div:nth-child(3) {
  left: 32px;
  animation: loadingStyle2 0.8s infinite;
}
.loadingStyle div:nth-child(4) {
  left: 56px;
  animation: loadingStyle3 0.8s infinite;
}
@keyframes loadingStyle1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loadingStyle3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loadingStyle2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.ldsripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsripple div {
  position: absolute;
  border: 4px solid rgb(226, 19, 19);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldsripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
