.valid {
  color: green;
}

.valid:before {
  position: relative;
  content: "✔";
  margin-right: 10px;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  content: "✖";
  margin-right: 10px;
}