.profile_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.message {
    /* margin: 20px auto;
    padding: 20px;
    background: lightgreen;
    border-radius: 8px; */
}